In [1]:
# Question 1 
# Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not.
# A number is symmetrical when it is the same as its reverse. 
# Examples 
# is_symmetrical(7227) ➞ True 
# is_symmetrical(12567) ➞ False 
def is_symmetrical(n):
    s=str(n)
    r=s[::-1]
    if tuple(s)==tuple(r):
        return True
    else:
        return False
is_symmetrical(12567)

False

In [2]:
is_symmetrical(7227)

True

In [4]:
# Question 2 
# Gven a string of numbers separated by a comma and space, return the product of the numbers. 
# Examples 
# multiply_nums("2, 3") ➞ 6
# multiply_nums("1, 2, 3, 4") ➞ 24
def multiply_nums(s):
    l=s.split(", ")
    p=1
    for i in l:
        p=p*int(i)
    return p
multiply_nums("1, 2, 3, 4")

24

In [7]:
# Question 3 
# Create a function that squares every digit of a number. 
# Examples 
# square_digits(9119) ➞ 811181
# square_digits(2483) ➞ 416649 
def square_digits(n):
    r=""
    for i in str(n):
        r=r+str(int(i)**2)
    return int(r)
square_digits(2483)

416649

In [8]:
# Question 4 
# Create a function that sorts a list and removes all duplicate items from it. 
# Examples 
# setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5] 
# setify([4, 4, 4, 4]) ➞ [4] 
def setify(l):
    for i in set(l):
        while l.count(i)>1:
            l.remove(i)
    
    return l
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [9]:
# Question 5 
# Create a function that returns the mean of all digits. 
# Examples 
# mean(42) ➞ 3 
# mean(12345) ➞ 3 
def mean(n):
    sum=0
    for i in str(n):
        sum=sum+int(i)
    return sum/len(str(n))
mean(12345) ➞ 3

SyntaxError: invalid character in identifier (<ipython-input-9-601dad5c8e7f>, line 11)